<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths is-full-touch">
          <div class="hero-container">
            <h1 class="is-size-1 is-size-3-touch has-text-green has-text-weight-bold has-text-centered mb-2" id="dark-mode-hero-title">Welcome to PlantSort</h1>
            <p class="is-size-4 is-size-5-touch has-black-text has-text-centered mb-5">PlantSort is a free, open-source tool that helps you easily organize and manage the plants you grow with intuitive categories and a visually dynamic interface. Think of it like a better spreadsheet that lets you see the plants you grow in multiple contexts.</p>
            <div class="buttons is-centered">
              <a href="contact.html" class="button has-text-white has-text-weight-semibold has-primary-background is-green is-medium">Sign Up For Free</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>