<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths is-full-touch">
          <div class="hero-container">
            <h1 class="is-size-1 is-size-3-mobile has-text-green has-text-weight-bold has-text-centered mb-2">Welcome to PlantSort</h1>
            <p class="is-size-4 is-size-5-mobile has-black-text has-text-centered mb-5">PlantSort is a free, open-source tool that helps you easily organize and manage the plants you grow with intuitive categories and a visually dynamic interface. Think of it as an enhanced spreadsheet, designed to let you view and organize your plants seamlessly across multiple contexts.</p>
            <div class="buttons is-centered">
              <%= link_to "Sign Up For Free", signup_path, class: "button has-text-white has-text-weight-semibold is-green is-medium" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns is-vcentered is-centered">
    <div class="column is-three-fifths is-full-mobile is-flex is-flex-direction-column is-align-items-center">
      <h1 class="is-size-2 is-size-3-mobile has-text-green has-text-weight-bold block">How It Works</h1>
      <div class="has-text-left mb-5">
        <p class="is-size-4 is-size-5-mobile">1. Create an account.</p>
        <p class="is-size-4 is-size-5-mobile">2. Add the plants you grow along with the categories they fall into.</p>
        <p class="is-size-4 is-size-5-mobile">3. Use the category buttons at the top of the screen to see your plants in different contexts. See the photo below for reference.</p>
      </div>
      <%= image_tag "dashboard-screenshot.webp", alt: "Screenshot of the dashboard" %>
    </div>
  </div>
</section>
