<section class="hero is-medium">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths is-full-touch">
          <div class="hero-container">
            <h1 class="is-size-2 is-size-3-mobile has-text-green has-text-weight-bold has-text-centered mb-2">Welcome to PlantSort</h1>
            <p class="is-size-4 is-size-5-mobile has-text-black has-text-centered mb-5">PlantSort is a free, open-source tool that helps you easily organize and manage the plants you grow with intuitive categories and a visually dynamic interface. Think of it as an enhanced spreadsheet, designed to let you view and organize your plants seamlessly across multiple contexts.</p>
            <div class="buttons is-centered">
              <%= link_to "Sign Up For Free", signup_path, class: "button has-text-white has-text-weight-semibold is-green is-medium" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section mt-6">
  <div class="columns is-vcentered is-centered">
    <div class="column is-half is-full-mobile">
      <div class="has-text-left">
        <h2 class="is-size-2 is-size-3-mobile has-text-green has-text-weight-bold mb-5 has-text-left">Organize Your Plants By Context</h2>
      </div>
      <div class="has-text-left mb-5">
        <p class="is-size-3 is-size-4-touch has-text-green has-text-weight-bold mb-2">
          See the Big Picture
        </p>
        <p class="is-size-4 is-size-5-touch has-text-black block">
          View and organize your plants dynamically, helping you decide what to plant where—whether it's filling shaded beds or planning your perennial orchard.
        </p>
      
        <p class="is-size-3 is-size-4-touch has-text-green has-text-weight-bold mb-2">
          Adapt to Your Garden's Needs
        </p>
        <p class="is-size-4 is-size-5-touch has-text-black block">
          Quickly filter plants by categories like 'Perennials,' 'Fruits,' or 'Green Manures' to plan your garden with ease. 
        </p>
      
        <p class="is-size-3 is-size-4-touch has-text-green has-text-weight-bold mb-2">
          Save Time, Grow Better
        </p>
        <p class="is-size-4 is-size-5-touch has-text-black block">
          Spend less time on planning and more time growing. PlantSort’s intuitive interface makes organizing plants effortless.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section my-6">
  <div class="columns is-vcentered is-centered">
    <div class="column is-half is-full-mobile is-flex is-flex-direction-column is-align-items-center">
      <h2 class="is-size-2 is-size-3-mobile has-text-green has-text-weight-bold block">See It In Action</h2>
      <%= image_tag "plantsort-dash.gif", alt: "GIF of PlantSort in action." %>
    </div>
  </div>
</section>

<section class="section my-6">
  <div class="columns is-vcentered is-centered">
    <div class="column is-half is-full-mobile is-flex is-flex-direction-column is-align-items-center">
      <h2 class="is-size-2 is-size-3-mobile has-text-green has-text-weight-bold block">Ready to Organize Your Plants?</h2>
      <div class="buttons is-centered">
        <%= link_to "Sign Up For Free", signup_path, class: "button has-text-white has-text-weight-semibold is-green is-medium" %>
      </div>
    </div>
  </div>
</section>
