<% provide(:title, "Password Reset") %>

<section class="is-large mb-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box m-3 p-5 has-text-centered">
          <p class="is-size-2 has-text-weight-medium block">Password Reset</p>
          
          <p class="is-size-4">This application is a passion project. Since it's impossible to tell if this application will gain any traction, we have not yet set up the infrastructure needed to automatically send you a reset password email. If you forgot your password and need it reset, please email us at <%= mail_to "support@plantsort.com", "support@plantsort.com", class: "has-text-link"%> from the email address associated with your account and we will reply with a password reset link.</p>
        </div>
      </div>
    </div>
  </div>
</section>