<% provide(:title, "Password Reset") %>

<section class="section is-medium">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-four-fifths is-full-mobile">
        <div class="has-text-centered">
          <p class="is-size-2 is-size-3-mobile has-text-green has-text-weight-medium mb-3">Password Reset</p>
          
          <p class="is-size-4 is-size-5-mobile block">This application is a passion project. Since it's impossible to tell if this application will gain any traction, there is not currently any infrastructure to automatically send you a reset password email. If you forgot your password and need it reset, please send an email to <%= mail_to "plantsortapp@gmail.com", "plantsortapp@gmail.com", class: "has-text-link"%> from the email address associated with your account and you will recieve a response containing a password reset link within a few hours.</p>
        </div>
      </div>
    </div>
  </div>
</section>