<% provide(:title, "Privacy Policy") %>

<section class="section">
  <div class="container">
    <h1 class="is-size-1 has-text-weight-bold">Privacy Policy</h1>
    <h2 class="is-size-3 block">Effective Date: November 13th, 2024</h2>

    <div class="content">
      <p>
        At PlantSort, we are committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our application, website, and services (collectively, the “Services”). By accessing or using our Services, you agree to the terms of this Privacy Policy. If you do not agree, please do not use our Services.
      </p>

      <h2 class="subtitle">1. Information We Collect</h2>
      <p>We collect the following personal information from users:</p>
      <ul>
          <li><strong>Personal Information:</strong> When you create an account, we collect personal information such as your email address and password.</li>
          <li><strong>Usage Data:</strong> We may collect information about how you use our Services, including your browser type, access times, and pages viewed. We do not log IP addresses.</li>
          <li><strong>Cookies and Tracking Technologies:</strong> We may use first-party cookies and similar tracking technologies to monitor activity on our Services and store certain information. We do not use any third-party cookies.</li>
      </ul>

      <h2 class="subtitle">2. How We Use Your Information</h2>
      <p> We may use the information we collect for various purposes, including:</p>
      <ul>
        <li>To provide, maintain, and improve our Services.</li>
        <li>To communicate with you.</li>
        <li>To analyze usage patterns and improve user experience.</li>
        <li>To enforce our Terms of Service and other policies.</li>
      </ul>
    
      <h2 class="subtitle">3. Sharing Your Information</h2>
      <p>
        We do not sell, trade, or otherwise transfer your Personal Information to outside parties, except in the following circumstances:
      </p>
      <ul>
        <li><strong>Service Providers:</strong> We may share your information with third-party service providers to assist with email deliver efforts (i.e. we cannot send you a password reset email if we do not share your email address with SendGrid).</li>
        <li><strong>Legal Requirements:</strong> We may disclose your information if required to do so by law or in response to valid requests by public authorities. This is unlikely to ever happen though since this is a plant categorizing application.</li>
      </ul>

      <h2 class="subtitle">4. Data Security</h2>
      <p>
        We take reasonable measures to protect the information we collect from loss, theft, misuse, and unauthorized access. However, no method of transmission over the Internet or electronic storage is 100% secure. Therefore, we cannot guarantee its absolute security.
      </p>

      <h2 class="subtitle">5. Your Rights</h2>
      <p>
        Regardless of where you live, you have the following rights regarding your personal information:
      </p>
      <ul>
        <li>The right to access the information we hold about you.</li>
        <li>The right to request correction of any inaccurate information.
        </li>
        <li>The right to request deletion of your personal information.</li>
        <li>The right to withdraw your consent at any time where we rely on your consent to process your personal information.</li>
      </ul>

      <h2 class="subtitle">6. Changes to This Privacy Policy</h2>
      <p>
        We may update this Privacy Policy from time to time. Any changes will be effective upon posting the revised Privacy Policy in the app or on our website. Your continued use of the Services after changes are posted constitutes your acceptance of the revised Privacy Policy.
      </p>

      <h2 class="subtitle">7. Contact Us</h2>
      <p>
        If you have any questions about this Privacy Policy, please contact us at <%= mail_to "support@plantsort.com", "support@plantsort.com", class: "has-text-link"%>.
      </p>
      
    </div>
  </div>