<% provide(:title, "Terms of Use") %>

<section class="section">
  <div class="container">
    <h1 class="is-size-1 has-text-weight-bold">Terms of Use</h1>
    <h2 class="is-size-3 block">Effective Date: November 13th, 2024</h2>

    <div class="content">
      <p>
        Welcome to PlantSort. These Terms of Use (“Terms”) govern your use of our application, website, and services (collectively, the “Services”). By accessing or using the Services, you agree to these Terms. If you do not agree, please do not use our Services.
      </p>

      <h2 class="subtitle">1. Acceptance of Terms</h2>
      <p>
        By using the Services, you affirm that you are at least 18 years old. If you are using the Services on behalf of an organization, you represent and warrant that you have the authority to bind that organization to these Terms.
      </p>

      <h2 class="subtitle">2. Changes to Terms</h2>
      <p>
        We may update these Terms from time to time. Any changes will be effective upon posting the revised Terms in the app or on our website. Your continued use of the Services after changes are posted constitutes your acceptance of the revised Terms.
      </p>

      <h2 class="subtitle">3. User Accounts</h2>
      <p>
        To use the main features of our Services, you will need to create an account. You are responsible for maintaining the confidentiality of your account credentials and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account.
      </p>

      <h2 class="subtitle">4. Disclaimer of Warranties</h2>
      <p>
        The Services are provided on an “as-is” and “as-available” basis. We do not warrant that the Services will be uninterrupted, secure, or error-free. Your use of the Services is at your own risk.
      </p>

      <h2 class="subtitle">5. Limitation of Liability</h2>
      <p>
        To the fullest extent permitted by law, PlantSort shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising from your use of the Services.
      </p>

      <h2 class="subtitle">6. Governing Law</h2>
      <p>These Terms are governed by the laws of the United States of America.</p>

      <h2 class="subtitle">7. Contact Us</h2>
      <p>
        If you have any questions about these Terms, please contact us at <%= mail_to "plantsortapp@gmail.com", "plantsortapp@gmail.com", class: "has-text-link"%>.
      </p>
    </div>
  </div>
</section>
