<div class="card" style="max-width:400px;">
  <div class="card-content">
    <div class="media is-flex is-flex-direction-row is-align-items-center">
      <div class="media-content">
        <p class="title has-text-weight-normal is-3"><%= "#{plant.common_name}" %></p>
      </div>
    </div>
    <div class="content">
      <div class="mb-2">
        <p class= "is-size-4"><%= plant.taxonomic_name %></p>
      </div>
    </div>
  </div>
</div>