<% provide(:title, "All Plants") %>
<section class="section">
  <div class="container mb-6">
    <p class="is-size-2 block">All Plants (<%= @plants.count %>)</p>
    <ul>
      <%= render @plants %>
    </ul>
  </div>
</section>