/*
* This is a manifest file that'll be compiled into application.css.
*
* With Propshaft, assets are served efficiently without preprocessing steps. You can still include
* application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
* cascading order, meaning styles declared later in the document or manifest will override earlier ones,
* depending on specificity.
*
* Consider organizing styles into separate files for maintainability.
*/

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.navbar span {
  color: #3E7E00;
}

.has-text-green {
  color: #3E7E00 !important;
}

.button.is-green {
  background-color: #3E7E00;
}

.button.is-green:hover {
  background-color: #51A400;
}

.button.is-red {
  background-color: #E60023;
}

.button.is-red:hover {
  background-color: #FF1F41;
}

@media (max-width: 1024px) {
  div.navbar-menu.is-active {
    border-radius: 15px !important;
    padding-bottom: 20px !important;
  }

  div.navbar-menu.is-active div.buttons {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
  }

  .is-flex-direction-column-mobile {
    flex-direction: column !important;
  }
}