.navbar span {
  color: #3E7E00;
}

.has-text-green {
  color: #3E7E00 !important;
}

.button.is-green {
  background-color: #3E7E00;
}

.button.is-green:hover {
  background-color: #51A400;
}

.notice-message {
  background-color: #3E7E00 !important;
}

.is-green {
  background-color: #3E7E00 !important;
}

.button.is-red {
  background-color: #E60023;
}

.button.is-red:hover {
  background-color: #FF1F41;
}

.alert-message {
  background-color: #FF1F41 !important;
}

.hero {
  background-image: url(hero-bg.webp);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  background-color: rgb(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 30px;
}

hr.divider {
  background-color: #3E7E00;
  border: none;
  height: 1px;
  margin: 50px auto;
  width: 90%;
}

#plant-card {
  margin-bottom: 24px;
}

.footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  div.navbar-menu.is-active {
    border-radius: 15px !important;
    padding-bottom: 20px !important;
  }

  div.navbar-menu.is-active div.buttons {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
  }

  .is-flex-direction-column-mobile {
    flex-direction: column !important;
  }
}