<% if alert %>
  <div class="notification alert-message m-4 p-4" id="alert-message" data-controller="flash-message">
    <button class="delete" data-action="click->flash-message#close"></button>
    <p class="is-size-6 has-text-white has-text-weight-semibold"><%= alert %></p>
  </div>
<% elsif notice %>
  <div class="notification notice-message m-4 p-4" data-controller="flash-message">
    <button class="delete" data-action="click->flash-message#close"></button>
    <p class="is-size-6 has-text-white has-text-weight-semibold"><%= notice %></p>
  </div>
<% end %>